body, p, div, select {
    padding: 0;
    margin: 0;
    outline: none;
    color: #000;
    font-family: calibri;
}

.custom-selectbox {
    width: 200px;
    padding: 5px;
}

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.customComboboxSelect {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.custom-combobox > .custom-combobox-options > .options-elements > li {
    -moz-transition: 200ms ease;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}

    .custom-combobox > .custom-combobox-options > .options-elements > li span, .custom-combobox > .comboboxInputControl {
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

.custom-combobox {
    display: inline-block;
    position: relative;
}

    .custom-combobox > .comboboxInputControl {
        border-radius: 5px;
        position: relative;
        border: 1px solid #ccc;
        min-height: 20px;
        background-color: #fff;
    }

        .custom-combobox > .comboboxInputControl > input {
            display: block;
            padding-right: 30px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            border:0px;
        }
            /*placeholder style*/
            .custom-combobox > .comboboxInputControl > input.placeholder {
                color: #ccc;
                font-style: italic;
            }

        .custom-combobox > .comboboxInputControl > label {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            width: 30px;
            background-color: #E0D8D8;
        }

            .custom-combobox > .comboboxInputControl > label > i {
                 background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M1%2C10l-1%2C4l4-1l7-7L8%2C3L1%2C10z%20M11%2C0L9%2C2l3%2C3l2-2L11%2C0z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                background-position: center center;
                width: 16px;
                height: 16px;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                margin: auto;
            }

    .custom-combobox > .custom-combobox-options {
        top: 30px;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: -100;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
        border-radius: 3px;
    }

        .custom-combobox > .custom-combobox-options.open {
            top: 40px;
            visibility: visible;
            opacity: 1;
            z-index: 1000;
        }

        .custom-combobox > .custom-combobox-options > .options-elements {
            list-style: none;
            display: block;
            padding: 0px;
            margin: 0px;
            overflow: auto;
            border-radius: 3px; /*Set the height of pop up here (only for desktop mode)*/
            max-height: 250px; /*height*/
        }

        .custom-combobox > .custom-combobox-options.isFloating > .options-elements {
            max-height: 100%;
        }

        .custom-combobox > .custom-combobox-options > .options-elements > li {
            padding: 4px 6px;
            border-bottom: 1px solid #F3F3F3;
            position: relative;
        }

            .custom-combobox > .custom-combobox-options > .options-elements > li:first-child {
                border-radius: 3px 3px 0px 0px;
            }

            .custom-combobox > .custom-combobox-options > .options-elements > li:last-child {
                border-bottom: none;
                border-radius: 0px 0px 3px 3px;
            }

            .custom-combobox > .custom-combobox-options > .options-elements > li:hover {
                background-color: #CBD0FF;
            }

            .custom-combobox > .custom-combobox-options > .options-elements > li span {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
            }


        /*Floating styles*/
        .custom-combobox > .custom-combobox-options.isFloating {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 90%;
            bottom: 0px;
            margin: auto;
            max-height: 90%;
        }

    /*Hover*/
    .custom-combobox:hover > .comboboxInputControl > label {
        background-color: #F1F1F1;
    }

    /*disabled state*/
    .custom-combobox > .custom-combobox-options > .options-elements > li.disabled {
        background-color: inherit;
    }

        .custom-combobox > .custom-combobox-options > .options-elements > li.disabled * {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
            filter: alpha(opacity=50); /* Netscape */
            -moz-opacity: 0.5; /* Safari 1.x */
            -khtml-opacity: 0.5; /* Good browsers */
            opacity: 0.5;
        }


    /*styling for select on popup mode*/
    .custom-combobox > .custom-combobox-options-elements.isFloating > .options-elements > li {
        padding: 12px 6px;
    }

 
    /*selected state*/
    .custom-combobox > .custom-combobox-options > .options-elements > li.selected {
       background-color:#7d7d7d;
    }

    /*disabled state*/
    .custom-combobox.disabled {
        opacity: 0.7;
    }

        .custom-combobox.disabled > .comboboxInputControl > label {
            background-color: #F1F1F1;
        }
/*Background overlay*/
body > .customComboboxCloseDiv {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}
